<div class="container">
    <app-navbar [dataSession]="dataLogin" [rol]="rol"></app-navbar>
    <div class="container-card">
        <mat-card>
            <mat-card-header class="header">
                <mat-card-title>Configuraciones</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Administradores
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="btn-container">
                                <button mat-raised-button (click)="goAdminBar()"
                                    style="background-color: goldenrod; scale: 0.75;"><mat-icon style="scale: 1.5;"
                                        color="primary">search</mat-icon>Gestionar Administradores</button>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Bar o Licorera
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="btn-container">
                                <button mat-raised-button (click)="goCreateBar()"
                                    style="background-color: green; scale: 0.75;"><mat-icon style="scale: 1.5;"
                                        color="primary">add_circle_outline</mat-icon>Agregar</button>
                                <button mat-raised-button (click)="goViewBar()"
                                    style="background-color: goldenrod; scale: 0.75;"><mat-icon style="scale: 1.5;"
                                        color="primary">search</mat-icon>Ver Bar o licorera</button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>