<div class="container-menu-bar">
    <app-navbar [dataBar]="dataBar" [rol]="rol"></app-navbar>
    <mat-tab-group backgroundColor="primary">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">restaurant_menu</mat-icon>
                Menu
            </ng-template>
            <app-bar-main-menu [menuData]="dataMenu"></app-bar-main-menu>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">toll</mat-icon>
                Promociones
            </ng-template>
            <app-bar-main-promotions [promotionData]="dataPromotion"></app-bar-main-promotions>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">people</mat-icon>
                Eventos
            </ng-template>
            <app-bar-main-events [eventData]="dataEvent"></app-bar-main-events>
        </mat-tab>
    </mat-tab-group>
</div>