<div class="container">
    <mat-card>
        <mat-card-header class="header">
            <mat-card-title>{{dataBar.nombre}}</mat-card-title>
            <mat-card-subtitle>{{dataBar.lema}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Descripción
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        {{dataBar.descripcion}}
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Eventos
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <ng-container *ngIf="dataEvent.length > 0; else noEvents">
                                <mat-list-item role="listitem"
                                    *ngFor="let events of dataEvent.slice(0, 3)">{{events.nombre}}</mat-list-item>
                                <mat-list-item role="listitem" (click)="goBar(dataBar.id_bar)">Ver
                                    más...</mat-list-item>
                            </ng-container>
                            <ng-template #noEvents>
                                <mat-list-item role="listitem">Por ahora no hay eventos.</mat-list-item>
                            </ng-template>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Promociones
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <ng-container *ngIf="dataPromotion.length > 0; else noPromotions">
                                <mat-list-item role="listitem"
                                    *ngFor="let promotions of dataPromotion.slice(0, 3)">{{promotions.nombre}}</mat-list-item>
                                <mat-list-item role="listitem" (click)="goBar(dataBar.id_bar)">Ver
                                    más...</mat-list-item>
                            </ng-container>
                            <ng-template #noPromotions>
                                <mat-list-item role="listitem">Por ahora no hay promociones.</mat-list-item>
                            </ng-template>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button extended color="primary" style="margin-top: 10px; width: 100%;"
                (click)="goBar(dataBar.id_bar)">Ingresar</button>
        </mat-card-actions>
    </mat-card>
</div>