<mat-toolbar>
    <div>
        <span>My App</span>
    </div>

    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <div>
            <mat-icon>more_vert</mat-icon>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item *ngIf="!loggin" (click)="goLogin()">Iniciar Sesion</button>
                <button mat-menu-item>Inicio</button>
                <button mat-menu-item>Promociones</button>
                <button mat-menu-item>Eventos</button>
                <button mat-menu-item [matMenuTriggerFor]="conf">Idioma</button>
                <mat-menu #conf="matMenu">
                    <button mat-menu-item>Español</button>
                    <button mat-menu-item>Inglés</button>
                </mat-menu>
                <button mat-menu-item *ngIf="loggin" (click)="logOut()">Cerrar sesión</button>
            </mat-menu>
        </div>
    </button>
</mat-toolbar>