.container-navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: bisque;
}

.container-menu {
    text-align: end;
}

.container-title {
    text-align: center;
}


.button-menu {
    display: inline-flex;
    align-items: center;
}