<section class="section">
    <div class="container-list">
        <h3>General</h3>
        <mat-list class="container-main" *ngFor="let menu of getMenuData">
            <div class="container-register">
                <span>${{menu.precio}}</span>
                <div>
                    <mat-list-item>
                        <span matListItemTitle>{{menu.nombre}}</span>
                        {{menu.descripcion}}
                    </mat-list-item>
                </div>
                <img class="image" src="http://localhost:3000/files/logomenu/{{menu.image}}" alt="{{menu.image}}"
                    (click)="openFullScreen(menu.image)">
            </div>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</section>