.section {
    height: 100vh;
}

.container-main{
    display: flex;
    flex-direction: column;
}
.container-list {
    padding-inline: 5vw;
}

.container-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}

.image {
    background-size: cover;
    height: 75px;
    width: 75px;
}