.section {
    height: 100vh;
}

.container-main {
    display: flex;
    flex-direction: column;
    padding-inline: 150px;
}

.container-list {
    padding-inline: 5vw;
}

.container-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}

.image {
    object-fit: contain;
    height: 75px;
    width: 75px;
}

@media (max-width: 768px) {
    .descripcion {
        width: 200px;
    }
    .container-main {
        padding-inline: 0px;
    }
}