<div class="container">
    <mat-card class="card">
        <form class="form" (ngSubmit)="register()">
            <div class="registration-form">
                <mat-form-field>
                    <input matInput placeholder="Nombres" [(ngModel)]="registerName" name="registerName" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Usuario" [(ngModel)]="registerUser" name="registerUser" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Apellidos" [(ngModel)]="registerLastName" name="registerLastName"
                        required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Correo electrónico" [(ngModel)]="registerEmail" name="registerEmail"
                        required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Género" [(ngModel)]="registerGenero" name="registerGenero" required>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit">Registrarse</button>
        </form>
    </mat-card>
</div>