<div class="container-grid">
    <div *ngFor="let promotion of getPromotionData">
        <mat-card>
            <div class="card-row">
                <div>
                    <h3>{{promotion.nombre}}</h3>
                    <p>{{promotion.descripcion}}</p>
                    <span>{{formatFecha(promotion.fecha_inicio)}} - {{formatFecha(promotion.fecha_fin)}}</span>
                </div>
                <img class="img-card" src="http://localhost:3000/files/logopromotion/{{promotion.image}}"
                    alt="imagen {{promotion.nombre}}" (click)="openFullScreen(promotion.image)">
            </div>
        </mat-card>
    </div>
</div>