<div class="container-grid">
    <div *ngFor="let event of getEventData">
        <mat-card>
            <div class="card-row">
                <div>
                    <h3>{{event.nombre}}</h3>
                    <p>{{event.descripcion}}</p>
                    <span>{{event.fecha}}</span>
                </div>
                <img class="img-card" src="http://localhost:3000/files/logoevent/{{event.image}}"
                    alt="imagen {{event.nombre}}" (click)="openFullScreen(event.image)">
            </div>
        </mat-card>
    </div>
</div>