.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393e6f;
    /*background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2016/03/30/918988/d29264bc683df42ae189a351116ce0da.jpg');
    background-size: cover;*/
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  
  mat-card {
    width: 50%;
    backdrop-filter: blur(14px) saturate(113%);
    -webkit-backdrop-filter: blur(14px) saturate(113%);
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  
  @media screen and (max-width: 480px) {
    mat-card {
      width: 90%;
    }
  }
  
  button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: none;
    transform: translateY(1px);
  }
  
  .imagen-container {
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
  }
  
  .container-date {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
  }
  
  