/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-error {
    font-size: small;
    font-style: italic;
}

.mat-mdc-snack-bar-container {
    &.app-notification-error {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #ffffff;
        --mdc-snackbar-container-color: rgba(250, 50, 50, 0.75);
    }

    &.app-notification-success {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #ffffff;
        --mdc-snackbar-container-color: rgba(123, 250, 50, 0.75);
    }

    &.app-notification-warning {
        --mat-mdc-snackbar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #ffffff;
        --mdc-snackbar-container-color: rgba(160, 160, 160, 0.75);
    }
}

button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 5px;
    transform: translateY(-1px);
}

button:active {
    box-shadow: none;
    transform: translateY(1px);
}