<app-navbar></app-navbar>
<div class="container-search">
    <mat-form-field class="search" appearance="outline" fxFlexFill subscriptSizing="dynamic">
        <mat-label class="input">Buscar un lugar</mat-label>
        <input matInput placeholder="Que esta buscando" [(ngModel)]="searchBar" (input)="typing()">
        <button *ngIf="clearInput" mat-icon-button matPrefix (click)="btn_clear()">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="btn_search()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <div class="container-grid">
        <mat-grid-list [cols]="gridItems" rowHeight="1.5:1" [gutterSize]="gridSize">
            <mat-grid-tile *ngFor="let bar of bars">
                <mat-card class="card">
                    <mat-card-header class="header">
                        <img mat-card-avatar
                            src="https://th.bing.com/th/id/OIP.11eqQE-pMXLyzgJ8GECVWQHaE7?pid=ImgDet&rs=1"><!--Aquó iria el path {{bar.logo}}-->
                        <mat-card-title>{{bar.nombre}}</mat-card-title>
                        <mat-card-subtitle>{{bar.lema}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="content">
                        <p>{{bar.descripcion}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="openBottomSheet()">Detalles</button>
                        <button mat-button (click)="goBar(bar.id_bar)">Ingresar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
